@model IEnumerable<Project38CVsite.Models.Project>

@{
    ViewBag.Title = "GetParticipants";
}

<h2>GetParticipants</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Participants.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
    {
    <tr>
    <td>
        @Html.DisplayFor(modelItem => item.Participants.Count)
    </td>
    <td>
        @foreach (var par in item.Participants)
        {
            <ul>@par.FirstName  @par.LastName</ul>
        }
    <td>
    </tr>
}

</table>
